.my-card-overlay{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    border-radius: calc(0.25rem - 1px);
    background-color: rgba(0, 0, 0, 0.315);
}

.glassOverlay{
    position: absolute;
    top: 90px;
    right: 50px;
    left: 50px;
}